// start .sTariffs
.sTariffs {
	--sPT: #{rem(90)};
	--sPB: #{rem(108)};
	.row {
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(34.49)};
		}
		@include media-breakpoint-down(lg){
			--bs-gutter-y:#{rem(30)};
			flex-direction: column;
			align-items: center;
		}
	}
	&__card {
		position: relative;
		background-color: $light;
		border-radius: $border-radius;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include media-breakpoint-up(lg) {
			min-height: rem(485);
			padding: 0;
		}
		@include media-breakpoint-between(md,lg){
			min-height: rem(600);
		}
		@include media-breakpoint-down(md){
			min-height: rem(450);
		}
	}
	picture {
		width: 100%;
		img {
			max-width: none;
			width: 100%;
		}
	}
	&__card-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		@include media-breakpoint-up(lg){
			top: 33.4%;
		}
		@include media-breakpoint-up(md){
			top: 45%;
		}
		top:35%;
		border-radius: $border-radius;
		background-color: #ffffff;
		box-shadow: 0 7px $small 3px rgba(202, 207, 221, 0.08);
		max-width: 70.3%;
		padding-top: rem(40);
		padding-bottom: rem(23);
		.h5 {
			text-align: center;
			font-weight: 700;
			line-height: 24px;
			@include media-breakpoint-up(lg) {
				max-width: rem(140);
			}
		}
		ul {
			padding-top: rem(13);
			li {
				position: relative;
				list-style-type: none;
				padding-left: rem(60);
				@include media-breakpoint-down(md){
					padding-left: rem(50);
				}
				color: $secondary;
				line-height: 24px;
				max-width: rem(300);
				@include media-breakpoint-up(lg){
					max-width: rem(260);
				}
				&::before {
					content: "";
					position: absolute;
					background-image: url("../img/svg/tariffs-marker.svg");
					width: rem(10);
					height: rem(8);
					background-size: cover;
					top: rem(10);
					left: rem(36);
					@include media-breakpoint-down(md){
						left: rem(30);
						top: rem(8);
					}
				}
			}
		}
	}
	&__btn-wrap {
		display: flex;
		justify-content: center;
		padding-top: rem(55);
	}
	&__btn {
		@extend .btn;
		@include mt;
		width: rem(171);
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.sTariffs
