
mixin modal() 

	+b.modal-win--call(id="modal-call" class=" " style="display: none" )
		+form-wrap
			.h4 Заказать звонок
			+e.caption Заполните форму, и&nbsp;мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время
			+input("Ваше имя",'text')
			+input("Ваш телефон",'tel')
			+e.btn(type="submit") Забронировать место
			+e.agreement Я&nbsp;согласен(а) на&nbsp;обработку и&nbsp;хранение моих персональных данных в&nbsp;соответствии с&nbsp;условиями.
	// #modal-call
	
	// modal