mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			.row
				.col-lg-5.d-lg-flex.flex-column.justify-content-center
					+b.section-title
						h2 Контакты
					table
						tr
							th Телефон:
							td
								a(href='tel:+491704765334') +49&nbsp;170 4765&nbsp;334 
								small Whatsap, Telegram
						tr
							th Адрес:
							td
								span Lise-Meitner-Straße, 1-7 24223&nbsp;Schwentinental&nbsp;Deutschland
						tr
							th Почта
							td
								a(href='mailto:info@wiwewu.com') info@wiwewu.com
						tr
							th Режим работы
							td
								span Пн-Пт: 09.00 — 18.00
								span Сб-Вс: выходной

				.col-lg-7
					+e.map
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1164.3472071349572!2d10.22550064132156!3d54.291670651273755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b259db92935fd5%3A0x9f2a4af39a0f31ad!2zTGlzZS1NZWl0bmVyLVN0cmHDn2UgMS03LCAyNDIyMyBTY2h3ZW50aW5lbnRhbCwg0JPQtdGA0LzQsNC90LjRjw!5e0!3m2!1sru!2sby!4v1629884778641!5m2!1sru!2sby" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					+e.gallery
						.row
							mixin item(i)
								.col-4
									+e.img-wrap
										+pic(`contacts-${i}.jpg`,'bg',0)
							+item(1)
							+item(2)
							+item(3)

	// end sContact