
	// start .sContact
	.sContact {
		--sTPB: #{rem(60)};
		padding-top: calc(var(--sPT) + #{rem(36)});
		background-color: $light;
		
		&__map {
			border-radius: $border-radius;
			overflow: hidden;
		}
		&__img-wrap {
			@include block(212, 136);
			border-radius: $border-radius;
			overflow: hidden;
			img {
				position: absolute;
				left: 0;
				top: 0;
			}
			
		}
		&__gallery {
			padding-top: rem(16);
			.row {
				--bs-gutter-x: #{rem(16)};
				--bs-gutter-y: var(--bs-gutter-x);
			}
		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContact