mixin sNews()
	// start sNews
	+b.SECTION.sNews.section#sNews&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sNews
				
			+e.row
				+e.item 1
				+e.item 2
				+e.item 3
	// end sNews