// start .sNews
.sNews {
	--sPT: #{rem(92)};
	--sPB: #{rem(114)};
	&__row {
		@include media-breakpoint-up(lg) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: rem(30);
		}
		@include media-breakpoint-down(lg) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		padding-bottom: rem(30);
	}
	&__item {
		@include media-breakpoint-down(lg) {
			margin-bottom: rem(25);
		}
		&:nth-child(1) {
			@include media-breakpoint-up(lg) {
				grid-row: 1/3;
			}
			@include media-breakpoint-down(lg) {
				width: rem(580);
			}
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
			@include block(580,450);
			border-radius: $border-radius;
			background-color: $secondary;
			picture {
				img {
					border-radius: $border-radius;
				}
			}
			.title {
				position: absolute;
				top: 81.61%;
				left: 5.75%;
				color: white;
				font-weight: 300;
				font-size: $large;
				line-height: 28px;
			}
			a {
				position: absolute;
				top: 89.7%;
				left: 5.75%;
				color: #ffffff;
				font-size: 11px;
				font-weight: 500;
				line-height: 21px;
				letter-spacing: 0.73px;
				text-transform: uppercase;
			}
		}
		&:nth-child(2) {
			display: flex;
			@include media-breakpoint-down(lg) {
				align-items: center;
			}
			picture {
				border-radius: $border-radius;
				background-color: $secondary;
				img {
					border-radius: $border-radius;
				}
			}
		}
		&:nth-child(3) {
			display: flex;
			@include media-breakpoint-down(lg) {
				align-items: center;
			}
			picture {
				border-radius: $border-radius;
				background-color: $secondary;
				img {
					border-radius: $border-radius;
				}
			}
		}
	}
	&__caption {
		margin-left: rem(32);
		&-title {
			@include media-breakpoint-up(lg) {
				padding-top: rem(15);
			}
			max-width: rem(235);
			font-size: $large;
			font-weight: 500;
			line-height: 28px;
		}
		&-text {
			@include media-breakpoint-up(lg) {
				padding-top: rem(3);
				padding-bottom: rem(12);
			}
			max-width: rem(315);
			color: $secondary;
			line-height: 24px;
		}
		a {
			color: $success;
			font-size: rem(11);
			font-weight: 500;
			line-height: 21px;
			letter-spacing: 0.73px;
			text-transform: uppercase;
		}
	}
	&__btn-wrap {
		display: flex;
		justify-content: center;
	}
	&__btn {
		margin-top: rem(20);
		@extend .btn, .btn-info;
		@include mt;
		width: rem(270);
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.sNews
