mixin sAdvantages()
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Почему с&nbsp;нами выгодно?
			.row
				mixin adv-item(i,t,c)
					.col-6.col-lg-3.col-advantages
						+e.IMG.icon(src=`img/svg/advantages-${i}.svg`)
						.h5!=t
						+e.caption!=c
				+adv-item(1,`Комиссия&nbsp;0%`,`Стоимость товаров в&nbsp;РФ значительно выше из-за пошлин на&nbsp;импорт. Покупая товары в&nbsp;Германии, вы&nbsp;экономите свои средства`)
				+adv-item(2,`Выгодные тарифы`,`У&nbsp;нас есть специальные предложения по&nbsp;доставке. Вы&nbsp;можете заказывать товары индивидуально или организовывать совместные покупки`)
				+adv-item(3,`Заботы оставьте нам`,`Мы&nbsp;берем на&nbsp;себя все нюансы по&nbsp;хранению, проверке качества, транспортировке (и&nbsp;возврату) товаров`)
				+adv-item(4,`Отправка в&nbsp;течение суток`,`Как только Ваш заказ поступает к&nbsp;нам на&nbsp;склад, мы&nbsp;сразу организовываем доставку прямо Вам в&nbsp;руки`)
			+e.btn-wrap.d-flex.justify-content-center
				+e.btn(href="#") Смотреть все преимущества
	// end sAdvantages