@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-check {
	font-size:math.div(27,10)*1rem;
	width: math.div(27,27)*1em;
}
.icon-chevron-left {
	font-size:math.div(17,10)*1rem;
	width: math.div(11,17)*1em;
}
.icon-chevron-right {
	font-size:math.div(17,10)*1rem;
	width: math.div(11,17)*1em;
}
.icon-fb {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-fb-footer {
	font-size:math.div(18,10)*1rem;
	width: math.div(8,18)*1em;
}
.icon-google-footer {
	font-size:math.div(16,10)*1rem;
	width: math.div(20,16)*1em;
}
.icon-input-check {
	font-size:math.div(12,10)*1rem;
	width: math.div(9,12)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-instagram-footer {
	font-size:math.div(17,10)*1rem;
	width: math.div(16,17)*1em;
}
.icon-phone-call-q {
	font-size:math.div(19,10)*1rem;
	width: math.div(18,19)*1em;
}
.icon-phone-q {
	font-size:math.div(16,10)*1rem;
	width: math.div(17,16)*1em;
}
.icon-star {
	font-size:math.div(14,10)*1rem;
	width: math.div(14,14)*1em;
}
.icon-telegram {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-telegram-q {
	font-size:math.div(18,10)*1rem;
	width: math.div(20.4,18)*1em;
}
.icon-twitter-footer {
	font-size:math.div(16,10)*1rem;
	width: math.div(20,16)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-vk {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-watsapp-q {
	font-size:math.div(20,10)*1rem;
	width: math.div(19,20)*1em;
}
.icon-whatsapp {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-youtube-footer {
	font-size:math.div(19,10)*1rem;
	width: math.div(16,19)*1em;
}
