mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section.bg-wrap#headerBlock&attributes(attributes)
		+pic('headerblock-bg.png','bg',0).picture-bg.d-none.d-lg-block
		.container
	// end headerBlock