extends layout/main.pug

block variables
	- let  mainPage= null
	- let  bg= null
block title
	- let  title= 'Модалки'
	title= title
block pagecontent 
	.section.container
		mixin btn(t,a)
			a.btn.m-2.link-modal-js(href=a  )= t
				span
		+btn("Регистрация",'#modal-register')
		+btn("Вход",'#modal-enter')
		+btn("Заказать звонок",'#modal-call')
		+btn("Хочу этот товар",'#modal-buy')