extends layout/main.pug


include ../blocks/sHowItWorks/_sHowItWorks.pug

block variables
	- let  mainPage= 'hiw-page'
	- let  bg= '06-HowItWorks.jpg'
block title
	- let  title= 'Как это работает'
	title= title
block pagecontent 
	//- +mob-mnu()
	+header()
		+top-nav()
		+topLine()
	.container.bread-container
		+breadcrumb(`Главная`, title)
	+sHowItWorks().top-section
	+sRegistration()
	+sPurchases()
	+sShipment()
	+sPackage()
	+sAddr()
	+footer()