extends layout/main.pug


include ../blocks/sCalc/_sCalc.pug

block variables
	- let  mainPage= 'calc-page'
	- let  bg= '07-calculator.jpg'
block title
	- let  title= 'Калькулятор доставки'
	title= title
block pagecontent 
	//- +mob-mnu()
	+header()
		+top-nav()
		+topLine()
	.container
		+breadcrumb(`Главная`, title)
	+sCalc().top-section
	+footer()