extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug 
include ../blocks/sAdvantages/_sAdvantages.pug 
include ../blocks/sProblems/_sProblems.pug 
include ../blocks/sTariffs/_sTariffs.pug 
include ../blocks/sFAQ/_sFAQ.pug 
include ../blocks/sReviews/_sReviews.pug 
include ../blocks/sPopular/_sPopular.pug 
include ../blocks/sNews/_sNews.pug 

block variables
	- let  mainPage= 'body-main'
	- let  bg= 'index.jpg'
block title
	- let  title= 'WiWeWu'
	title= title
block pagecontent 
	//- +mob-mnu()
	+header()
		+top-nav()
		+topLine()
	+headerBlock()
	+sAdvantages()
	+sProblems()
	+sTariffs(`Тарифы и&nbsp;цены`)
	+sFAQ()
	+sReviews()
	+sPopular()
	+sNews()
	+footer()