mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			.row
				.col-lg-auto.col
					a(href="/")
						img.res-i.logo(src="img/@2x/logo.png", alt="")
				.col.d-none.d-lg-block
					+e.text.text-secondary доставка товаров из&nbsp;Германии в&nbsp;любую точку мира
				.col-auto.d-none.d-lg-block.col-time
					.time пн-пт: с&nbsp;9:00 до&nbsp;18:00 
						span по&nbsp;Берлину
					a.email(href="mailto:support@wiwewu.com") support@wiwewu.com
				+e.soc-item.col-auto
					a(href="#")
						img(src='img/svg/telegram.svg')
					a(href="#")
						img(src='img/svg/viber.svg')
					a(href="#")
						img(src='img/svg/whatsapp.svg')
				.col-auto.d-none.d-md-block
					a.tel(href='tel:88000000000') 8 800 000-00-00
					a.call(href="#") Заказать звонок
				.col-auto.d-lg-none
					+b.toggle-menu-mobile--js
						span
	// end topLine