mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
			+b.topLine.p-3
				.mb-4
					.strong.mb-2
							a.text-body(href="mailto:info@newclients1.ru") info@newclients1.ru
					.small.text-secondary Санкт-Петербург

				.tell.strong.mb-2
					a.text-body(href="tel:+7(812)703-86-28") 
						+icon("whatsapp")
						| +7 (812) 703-86-28
				.small.text-secondary.mb-2  Пн-Пт: c 09:00 до 18:00
				+e.btn(href="#").w-100 Заказать звонок
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col
					+b.menu-mobile--js
						+b.toggle-menu-mobile--js.d-lg-none
							span
						+e.inner
							+mnu()
							+b.topLine.p-3.d-lg-none
								.mb-4
									.strong.mb-2
											a.text-body(href="mailto:support@wiwewu.com") support@wiwewu.com
									.small.text-secondary.add-info Берлин

								.tell.strong.mb-2
									a.text-body(href="tel:+7(800)000-00-00")
										+icon("whatsapp")
										| 8 800 000-00-00
								.small.text-secondary.mb-2.add-info Пн-Пт: c 09:00 до 18:00
								+e.btn(href="#").w-100.btn-menu Заказать звонок
	// end top-nav