mixin sHowItWorks(data)
	// start sHowItWorks
	+b.SECTION.sHowItWorks.section.bg-wrap#sHowItWorks&attributes(attributes)
		+pic('hiw-bg.jpg','bg',0).picture-bg
		.container
			+b.section-title.text-center
				h2 Как это работает
			.row
				mixin item (i,t,c)
					.col-lg-3.col-6.wrap
						+e.icon-wrap
							+e.IMG.icon(src=`img/svg/hiw-${i}.svg` alt="")
							+e.IMG.line(src=`img/svg/hiw-line.svg` alt="")
						+e.title.h5!=t
						+e.caption!=c
				+item(1,`Регистрация`,`<span class="hiw-span">Зарегистрируйтесь</span> на&nbsp;нашем сайте, чтобы получить персональный адрес в&nbsp;Германии или Европе. Создаете аккаунт для управления своими посылками.`)
				+item(2,`Покупки`,`Выбирайте товары в&nbsp;интернет- магазинах Германии и&nbsp;Европы без посредников.</br>Оформляйте доставку на&nbsp;Ваш персональный адрес в&nbsp;Европе. <span class="hiw-span">Зачем?</span>`)
				+item(3,`Отправка`,`Когда все купленные товары придут на&nbsp;наш склад, вы&nbsp;увидите их&nbsp;в&nbsp;личном кабинете и&nbsp;сможете сформировать отправку посылки домой.`)
				+item(4,`Получение`,`Создавая отправку, выбирайте самый удобный для вас способ доставки&nbsp;&mdash; в&nbsp;почтовое отделение, до&nbsp;пункта выдачи&nbsp;заказов или курьерской службой&nbsp;прямо домой.`)
		+e.instruction Инструкция
		+e.hover-info Большая часть магазинов Европы не&nbsp;доставляют товары в&nbsp;России. Это первый этап, где мы&nbsp;Вам начинаем помогать!
	// end sHowItWorks

mixin sRegistration(data)
	// start sRegistration
	+b.SECTION.sRegistration.section#sRegistration&attributes(attributes)
		.container
			.row
				.col-lg-6.col-12
					.h2 Регистрация
					+e.caption1 Зарегистрируйтесь на&nbsp;нашем сайте, чтобы получить персональный адрес в&nbsp;Европе и&nbsp;создать аккаунт для управления своими посылками.
					+e.caption2 На&nbsp;этот адрес вы&nbsp;сможете делать заказы в&nbsp;зарубежных интернет-магазинах.&nbsp;А&nbsp;в&nbsp;вашем личном кабинете будет храниться вся информация о&nbsp;ваших посылках.
					+e.necessarily Обязательно указывайте Ваши персональные адреса.
				.col-lg-6.col-12
					+pic('hiw-registration.png','',0).pic-reg

mixin sPurchases(data)
	+b.SECTION.sPurchases.section#sPurchases&attributes(attributes)
		.container
			.row
				.col-lg-6
					+e.cards-wrap
						+e.cards
							+shop-item(9)
							+shop-item(10)
						+e.cards--second.d-none.d-lg-block
							+shop-item(9)
							+shop-item(11)
							+shop-item(10)

				.col-lg-6.col-12
					+e.info
						h2 Делаем покупки
						+e.caption Выбирайте товары в&nbsp;интернет-магазинах Европы. Оформляйте доставку на&nbsp;ваш персональный адрес у&nbsp;WiWeWu, оплачивайте покупки в&nbsp;интернет-магазинах и&nbsp;ожидайте, когда посылки прибудут к&nbsp;нам на&nbsp;склад. При оформлении заказа интернет-магазин указывает примерные сроки доставки каждого товара до&nbsp;нашего склада и&nbsp;присылает трекинг-номер для отслеживания.
						+e.ref
							+e.ref-title.h5 Новичок
							+e.ref-caption Если Вы&nbsp;новичок в&nbsp;зарубежных покупках и&nbsp;не хотите разбираться во&nbsp;всех тонкостях, то&nbsp;просто отправьте ссылку на&nbsp;интересующий товар и&nbsp;пополнитеь баланс в&nbsp;личном кабинете &mdash; заказ будет быстро оформлен и&nbsp;выкуплен нашими опытными специалистами.
						+e.ref
							+e.ref-title.h5 Важно!
							+e.ref-caption Важная информация

mixin sShipment(data)
	+b.SECTION.sShipment.section.bg-wrap#sShipment&attributes(attributes)
		+pic('shipment-bg.jpg','bg',0).picture-bg.d-none.d-lg-block
		.container
			.row
				.col-12.col-lg-6
					h2 Создаем отправку
					+e.caption Когда все купленные товары придут на&nbsp;наш склад, вы&nbsp;увидите их&nbsp;в&nbsp;личном кабинете и&nbsp;сможете сформировать отправку посылки домой. Вы&nbsp;можете отправить одну посылку или объединить несколько покупок из&nbsp;разных магазинов в&nbsp;одно отправление.
					+e.ref
						+e.ref-title.h5 Вариант доставки
						+e.ref-caption Вам необходимо заполнить декларацию и&nbsp;выбрать наиболее удобный способ доставки. По&nbsp;запросу объединим посылки из&nbsp;нескольких заказов или рассчитаем стоимость доставки.
					+e.ref
						+e.ref-title.h5 Проверить
						+e.ref-caption Мы&nbsp;также можем проверить полученные вами товары на&nbsp;работоспособность, соответствие заказу или измерить параметры и&nbsp;сделать фото.

mixin sPackage(data)
	+b.SECTION.sPackage.section.bg-wrap#sPackage&attributes(attributes)
		+pic('package-bg.png','',0).picture-bg.d-none.d-xxl-block
		.container
			.row
				.col-12.col-xxl-6.d-none.d-xxl-block
				.col-12.col-xxl-6
					h2 Получаем посылку
					+e.caption Создавая отправку, выбирайте самый удобный для вас способ доставки&nbsp;&mdash; в&nbsp;почтовое отделение, до&nbsp;пункта выдачи заказов или курьерской службой прямо домой. Сразу после отправки посылки со&nbsp;склада в&nbsp;вашем личном кабинете появится трекинг-номер для ее&nbsp;отслеживания.
					+e.ref
						+e.ref-title.h5 Важно!
						+e.ref-caption После получение поссылки важно снять видео или сфотографировать для решения вопросов по&nbsp;страховым случаям.

mixin sQuestion(data)
	+b.SECTION.sQuestion.section.bg-wrap#sQuestion&attributes(attributes)
		+pic('question-bg.png','',0).picture-bg.d-none.d-xxl-block
		.container
			.row
				.col-12.col-xxl-6
					h2 Зачем мне этот адрес в&nbsp;Германии?
					+e.caption--first Покупая с&nbsp;адресом WiWeWu, вы&nbsp;пользуетесь правами и преимуществами&nbsp;гражданина Евросоюза. Не&nbsp;действует никаких ограничений.
					+e.caption--second Получайте скидки и&nbsp;используйте промокоды, предназначенные только для жителей Германии. Покупайте даже в&nbsp;тех магазинах, которые не&nbsp;доставляют в&nbsp;Россию и&nbsp;СНГ. Выбирайте из&nbsp;ассортимента, которого нет для других стран. WiWeWu подскажет горячие предложения.
					+e.btn(href='#') Регистрация
						span