.soc {
	margin: 0 rem(-5px);
	display: flex;
	&__item {
		text-decoration: none !important;
		margin: 0 rem(5px);
		vertical-align: middle;
		@include mt;
		display: block;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: 0.6;
		}
	}
	.icon {
		font-size: rem(30);
	}
	&--footer {
		margin: 0;
		.soc__item {
			position: relative;
			width: rem(42);
			height: rem(42);
			border-radius: 8px;
			background-color: $dark;
			margin: 0 rem(4.5px);
			.icon {
				@include mt;
				@include a-cent;
				color: #717171;
				&-fb-footer {
					font-size: rem(18);
				}
				&-youtube-footer {
					font-size: rem(19);
				}
				&-instagram-footer {
					font-size: rem(17);
				}
				&-google-footer {
					font-size: rem(16);
				}
				&-twitter-footer {
					font-size: rem(16);
				}
			}
			&:hover {
				opacity: 0.7;
				.icon {
					color: $white;
				}
			}
		}
	}
	&--questions {
		margin: 0;
		.soc__item {
			position: relative;
			width: rem(47);
			height: rem(47);
			border-radius: 50%;
			background-color: $white;
			margin: 0 rem(7px);
			box-shadow: 0 7px 13px 3px rgba(202, 207, 221, 0.2);
			.icon {
				@include mt;
				@include a-cent;
				color: #e0e0e0;
				&-telegram-q {
					font-size: rem(18);
				}
				&-phone-call-q {
					font-size: rem(19);
				}
				&-watsapp-q {
					font-size: rem(20);
				}
				&-phone-q {
					font-size: rem(16);
				}
			}
			&:hover {
				.icon {
					color: $success;
				}
			}
		}
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.spec {
	padding-top: 30px;
	span {
		background-color: rgba(125, 158, 100, 0.1);
		color: $success;
		font-size: 11px;
		font-weight: 500;
		line-height: 21.01px;
		letter-spacing: 0.73px;
		padding: 6px;
		padding-left: 8px;
		padding-right: 8px;
		text-transform: uppercase;
		border-radius: $border-radius;
	}
}
