.soc {
	margin: 0 rem(-5px);
	display: flex;
	&__item {
		text-decoration: none !important;
		margin: 0 rem(5px);
		vertical-align: middle;
		@include mt;
		display: block;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: 0.6;
		}
	}
	.icon {
		font-size: rem(30);
	}
	&--footer {
		margin: 0;
		.soc__item {
			position: relative;
			width: rem(42);
			height: rem(42);
			border-radius: 8px;
			background-color: $dark;
			margin: 0 rem(4.5px);
			.icon {
				@include mt;
				@include a-cent;
				color: #717171;
				&-fb-footer {
					font-size: rem(18);
				}
				&-youtube-footer {
					font-size: rem(19);
				}
				&-instagram-footer {
					font-size: rem(17);
				}
				&-google-footer {
					font-size: rem(16);
				}
				&-twitter-footer {
					font-size: rem(16);
				}
			}
			&:hover {
				opacity: .7;
				.icon {
					color: $white;
				}
			}
		}
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.spec{
	padding-top: 30px;
	span{
		background-color: rgba(125, 158, 100, 0.1);
		color: $success;
		font-size: 11px;
		font-weight: 500;
		line-height: 21.01px;
		letter-spacing: 0.73px;
		padding: 6px;
		padding-left: 8px;
		padding-right: 8px;
		text-transform: uppercase;
		border-radius: $border-radius;
	}
}



.col-content{
	height: auto;
}
.content-item {
	background-color: white;
	box-shadow: 0 7px $small 3px rgba(202, 207, 221, 0.08);
	border-radius: $border-radius;
	padding-bottom: rem(31);
	height: 100%;
	picture {
		padding-top: rem(15);
		width: rem(182);
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-down(sm){
			display: flex;
			justify-content: center;
		}
	}
	.h5 {
		padding-top: rem(12);
		text-align: center;
		line-height: 24px;
		color: $body-color !important;
	}
	p {
		max-width: 75%;
		margin-left: auto;
		margin-right: auto;
		color: $secondary;
		line-height: 24px;
		text-align: justify;
	}
	.detail {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		color: $success;
		font-size: 11px;
		line-height: 21px;
		text-transform: uppercase;
		letter-spacing: 0.73px;
		font-weight: 500;
	}
}

.shop-item{
	min-height: 100%;
	picture{
		// border-radius: $border-radius;
		min-height: 89.1%;
		max-height: 89.1%;
		background-color: $secondary;
		border-radius: $border-radius;
		img{
			height: rem(305.6);
			border-radius: rem(8);
		}
	}
	&__wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: rem(22);
		padding-right: rem(22);
		padding-top: rem(17);
	}
	&__to-shop{
		font-size: rem(11);
		text-transform: uppercase;
		font-weight: 500;
		color: $success;
		letter-spacing: 0.73px;
		line-height: 21px;
	}
}
