include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/btn.pug


mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->



mixin spec(t)
	p.spec
		span!=t

mixin content-item(t)
	.row
		- for (var x = 0; x < 8; x++)
			.col-sm-6.col-lg-3.col-content
				a(href="#")
					.content-item
						+pic('popular-1.png','',0)
						.h5!=t
						p Широкий выбор товаров для дома и&nbsp;семьи. Спортивная одежда и&nbsp;аксессуары, одежда и&nbsp;обувь для взрослых и&nbsp;детей, нижнее белье, инструменты для творчества.
						.detail(href="#") подробнее

mixin shop-item(i)
	+b.shop-item
		a(href="#")
			+pic(`shop-item-${i}.png`,'bg',0)
		+e.wrap
			+e.name Fadjo Юбка
			+e.to-shop(href='#') в магазин