//- WP menu
mixin mnu()
	-
		var nav= {  
			"Как мы работаем":"#",
			"Тарифы":"#",
			"Услуги":"#" ,
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		li.menu-item.menu-item-has-children(itemprop="item" )
			a(href='#' itemprop="url") О компании
			ul.sub-menu
				li: a(href="")  Наименование услуги
				li: a(href="")  Наименование услуги
				li: a(href="")  Наименование услуги

		each linkPatch, linkName in nav

			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName
		
		li.menu-item.menu-item-has-children(itemprop="item" )
			a(href='#' itemprop="url") Магазины
			ul.sub-menu
				li: a(href="")  Магазин
				li: a(href="")  Магазин
				li: a(href="")  Магазин
		li.menu-item(itemprop="item" ): a(href='#' itemprop="url") Калькулятор Доставки
		li.menu-item(itemprop="item" ).login: a(href='#' itemprop="url") Регистрация&nbsp;/ Вход
//- menu