mixin sProblems()
	// start sProblems
	+b.SECTION.sProblems.section#sProblems&attributes(attributes)
		.container
			.row
				.col-xl-6.d-xl-block.d-none.col-picture
					+pic('problems-1.png','',0)
				.col-xl-6.col-12
					.h2 Почему я&nbsp;не&nbsp;могу купить самостоятельно?
					+e.caption В&nbsp;современном мире онлайн-шопинг стал неотъемлемой частью нашей жизни. Однако не&nbsp;во&nbsp;всех онлайн-магазинах можно приобрести нужную вещь по&nbsp;ряду причин:
					ul
						li Основная масса магазинов из&nbsp;Германии не&nbsp;доставляют товары в&nbsp;РФ;
						li Высокая стоимость доставки;
						li Магазин принимает оплату только с&nbsp;европейских счетов;
						li Многие интернет-магазины написаны на&nbsp;немецком языке;
						li Сложность коммуникации и&nbsp;общения;
						li Большая часть товаров не&nbsp;поставляется в&nbsp;Россию.
				.col-12.col-desc
					+e.description Наша компания поможет решить эти нюансы. С&nbsp;нами&nbsp;Вы сможете покупать одежду, обувь, гаджеты, косметику или украшения европейского качества без переплат на&nbsp;любых онлайн-площадках Германии.
			.row.row-items
				mixin item(i,t)
					.col-12.col-md-6.col-lg-3.col-problem
						+e.item
							+e.IMG.icon(src=`img/svg/problems-${i}.svg`)
							+e.item-caption!=t
				+item(1,`Оплата покупок через наш счет в&nbsp;Германии;`)
				+item(2,`Проверка качества товаров перед отправкой;`)
				+item(3,`Объединение всех Ваших заказов на&nbsp;нашем складе;`)
				+item(4,`Помощь в&nbsp;вопросах гарантии и&nbsp;возврата.`)
	// end sProblems